body {
    margin: 0px 0px !important;
}

/*
	Shimmer CSS 
	REF: https://codepen.io/kianlavi/pen/BzbRZw
*/

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

.box {
    height: 104px;
    width: 100px;
}

.lines {
    height: 10px;
    margin-top: 10px;
    width: 200px;
}

.full-width-line {
    height: 25px;
    margin-top: 10px;
    width: 500px;
}

.photo {
    display: block !important;
    width: 325px;
    height: 100px;
    margin-top: 15px;
}

.shimmer-container {
    display: inline-flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 15px;
    vertical-align: top;
}

.select-container {
    display: block;
    padding: 10px 10px;
}
